@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
}

.Home {
  background-color: #0E1F39;
}

.About {
  background-color:rgb(25, 57, 105);
}